<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.termquiz.team.mapperInterface.BoardMapper">

	<sql id="search">
		<if test="keyword!=null">
			<bind name="keyVal" value="'%'+keyword+'%'" />
		</if>
		<choose>
			<when test="searchType=='all'.toString()">
				and bId like #{keyVal} or 
				bTitle like #{keyVal} or
				bTime like #{keyVal} )
			</when>
			<when test="searchType=='i'.toString()">
				and bId like #{keyVal} )
			</when>
			<when test="searchType=='t'.toString()">
				and bTitle like #{keyVal} )
			</when>
			<when test="searchType=='c'.toString()">
				and bContent like #{keyVal} )
			</when>
			<when test="searchType=='cc'.toString()">
				and bId like #{keyVal}
				or bTitle like #{keyVal} )
			</when>
			<otherwise> )</otherwise>
		</choose>
	</sql>

	<select id="searchList" resultType="com.termquiz.team.vo.BoardVO">
		select bNo,bId,bTime,bTitle,bcount,mlevel,adminRight
		from board inner join member
		where (bid = nickname
		<include refid="search"></include>
		order by bNo desc, bTime desc
		limit #{sno}, #{rowsPerPage}
	</select>

	<select id="searchCount" resultType="int">
		select count(*) from board
		where ( bno>0
		<include refid="search"></include>
	</select>

	<select id="selectOne" resultType="com.termquiz.team.vo.BoardVO">
		select bno, bid, bTime, bTitle, bContent,bcount, mlevel, adminRight
		from board inner join member
		where bno=#{bno} and bid = nickname
	</select>

	<update id="countUp">
		update board
		set bcount = bcount + 1
		where bno=#{bno};
	</update>

	<insert id="insert">
		insert into
		board(bno, bid, btitle, bcontent, btime)
		values(#{bno},#{bid},#{btitle},#{bcontent},#{btime})
	</insert>

	<update id="update">
		update board set btitle=#{btitle},
		bcontent=#{bcontent} where bno=#{bno}
	</update>

	<delete id="delete">
		delete from board where bno=#{bno}
	</delete>

	<select id="commentList" resultType="com.termquiz.team.vo.BoardCommentsVO">
		SELECT bcNo, bno, bcId, bcomment, bcommentTime, root, step, indent, mlevel, adminRight
		FROM termquiz.bcomments inner join member
		where bno = #{bno} and bcId = nickname
		order by root asc,(case when step = 0 then 1 else 2 end), step desc
	</select>

	<update id="bcommentdelete">
		update bcomments set bcomment = "삭제된 댓글입니다" where bcno=#{bcNo}
	</update>

	<update id="bcommentupdate">
		update bcomments set
		bcomment=#{bcomment} where
		bcno=#{bcNo}
	</update>

	<insert id="rinsert">
		<selectKey keyProperty="bcNo" resultType="int"
			order="BEFORE">
			select IFNULL(max(bcNo),0)+1 from bcomments
		</selectKey>
		insert into bcomments(bcNo,bno,bcId,bcomment,bcommentTime,root)
		values(#{bcNo},#{bno},#{bcId},#{bcomment},#{bcommentTime},#{bcNo})
	</insert>

	<insert id="rrinsert">
		insert into
		bcomments(bno,bcId,bcomment,bcommentTime,root,step,indent)
		values(#{bno},#{bcId},#{bcomment},#{bcommentTime},#{root},#{step},#{indent})
	</insert>

	<update id="stepUpdate">
		update bcomments set step=step+1 where root=#{root}
		and step >= #{step} and
		root != bcNo
	</update>

</mapper>