<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.termquiz.team.mapperInterface.BoardMapper">
	
<sql id="search">
		<if test="keyword!=null">
			<bind name="keyVal" value="'%'+keyword+'%'" />
		</if>
		<choose>
			<when test="searchType=='all'.toString()">
				and bId like #{keyVal}
				or bTitle like #{keyVal}
				or bTime  like #{keyVal} )
			</when>
			<when test="searchType=='i'.toString()">
				and  bId like #{keyVal} )
			</when>
			<when test="searchType=='t'.toString()">
				and bTitle like #{keyVal} )
			</when>
			<when test="searchType=='c'.toString()">
				and bContent like #{keyVal} )
			</when>
			<when test="searchType=='cc'.toString()">
				and bId  like #{keyVal}
				or bTitle like #{keyVal} )
			</when>
			<otherwise> )</otherwise>
		</choose>
	</sql>
	
	<select id="searchList" resultType="com.termquiz.team.vo.BoardVO">
		select bNo,bId,bTime,bTitle,bContent,bcount
		from board 
		where ( bno>0
		<include refid="search"></include>
		order by bNo desc, bTime desc
		limit #{sno}, #{rowsPerPage}
	</select>
	
	<select id="searchCount" resultType="int">
		select count(*) from board
		where (  bno>0 <include refid="search"></include>
	</select>

	<select id="selectOne" resultType="com.termquiz.team.vo.BoardVO">
		select * from board where bno=#{bno}
	</select>
	
	<update id="countUp">
		update board 
		set bcount = bcount + 1 
		where bno=#{bno};
	</update>
	
	<insert id="insert">
		insert into
		board(bno, bid, btitle, bcontent, btime)
		values(#{bno},#{bid},#{btitle},#{bcontent},#{btime})
	</insert>
	
	<update id="update">
		update board set btitle=#{btitle},
		bcontent=#{bcontent} where bno=#{bno}
	</update>
	
	<delete id="delete">
		delete from board where bno=#{bno}
	</delete>
	
	<select id="commentList" resultType="com.termquiz.team.vo.BoardCommentsVO">
		select * from bcomments where bno=#{bno}
	</select>
	
	<insert id="rinsert">
		insert into bcomments(bno,bcId,bcomment,bcommentTime,root) 
		values(#{bno},#{bcId},#{bcomment},#{bcommentTime},#{bcNo})
	</insert>
	
	<delete id="bcommentdelete">
		delete from bcomments where bcno=#{bcNo}
	</delete>	
   
   <update id="bcommentupdate">
      update bcomments set
      bcomment=#{bcomment} where bcno=#{bcNo}
   </update>	
	
</mapper>