<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.termquiz.team.mapperInterface.QuizMapper">
	
	<select id="movieQuizList" resultType="com.termquiz.team.vo.MovieQuizVO">
		select movieqNo from movieq
	</select>
	
	<select id="movieLoginQuizList" resultType="com.termquiz.team.vo.MovieQuizVO">
		select mq.movieqNo, ms.movieqId, ms.score 
		FROM movieq as mq left join movies as ms
		on mq.movieqNo = ms.movieqNo and 
		ms.movieqId = #{movieqId}
	</select>
	
	<select id="movieMaxNo" resultType="int">
		select max(movieqNo) from movieq
	</select>
	
	<insert id="movieQuizInsert">
		insert into 
		movieq(movieqAnswer,movieqHint1,movieqHint2,movieqHint3,movieqHint4,movieqHint5)
		values(#{movieqAnswer},#{movieqHint1},#{movieqHint2},#{movieqHint3},#{movieqHint4},#{movieqHint5})
	</insert>
	
	<select id="movieQuizDetail" resultType="com.termquiz.team.vo.MovieQuizVO">
		select movieqNo, movieqAnswer, movieqHint1, movieqHint2, movieqHint3, movieqHint4, movieqHint5
		from movieq
		where movieqNo = #{movieqNo} 
	</select>
	
	<select id="movieScore" resultType="int">
		select count(score) from movies
		where movieqNo=#{movieqNo} and movieqId=#{movieqId}
	</select>
	
	<insert id="movieScoreInsert">
		insert into
		movies(movieqNo,movieqId,score)
		values(#{movieqNo},#{movieqId},#{score})
	</insert>
	
	<update id="movieScoreUpdate">
		update movies
		set score = #{score}
		where movieqNo = #{movieqNo} and movieqId = #{movieqId}
	</update>
	
</mapper>