@charset "UTF-8";

body{
	position: relative;
	background-color: black;
}

main{
	position: relative;
	width: 100vw;
	height: 100vh;
}

.quizDetail{
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: black;
	transition:all 1s;
}

#startPage{
	z-index: 1;
	background: url("../img/quizBack.png") no-repeat center/100%;
}

#startBtn,
#endBtn{
	width: 200px;
    height: 80px;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#startBtn{
	position: absolute;
	top:80%;
	left:50%;
	transform: translate(-50%,-50%);
}

.quizDetail answerBox{
	position: absolute;
	top:80%;
	left:50%;
	transform: translate(-50%,-50%);
}

.quizDetail>div>button {
	margin: 0 10px;
	width: 200px;
    height: 80px;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.hintBox{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

.hintBox img{
	min-width: 50%;
	min-height: 50%;
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	top:30%;
	transform: translate(-50%,-30%);
}

.hintBox audio{
	width:60%;
	position: absolute;
	top:50%;
	transform: translate(-50%,-50%);
}

.answerForm{
	display: flex;
}

.answerForm,
#endBtn{
	position: fixed;
	top:95%;
	left:50%;
	transform: translate(-50%,-100%);
	transition : all 0;
	z-index: 5;
}

.answerForm input{
	padding: 5px;
	margin-right: 5px;
}

.hiddenBtn{
	display: none;
}

.hiddenInput{
	visibility: hidden;
}

.moveBox{
	position: fixed;
	right: 0;
	top: 50%;
	transform: translate(-5%,-50%)	;
	background-color: white;
	display: flex;
	flex-direction: column;
	z-index: 3;
	border-radius: 10px;
	transition: all 1s;
	width: 50px;
	height: 300px;
}

.hiddenBox{
	transition: all 1s;
	opacity: 0;
	visibility: hidden;
}

.innerBox{
	width: 30px;
	height: 30px;
	background-color: black;
	margin: 10px;
	border-radius: 10px;
	transition: all 1s;
	cursor: pointer;
	color: white;
	text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 30px;
    text-decoration: none
}
a.innerBox:hover{
	color:#999999;
}

.aBox{
	background-color: #0033bb;
}

.answerAfterBox{
	position:fixed;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,-100%);
	display: flex;
	z-index: 6;
}

.answerAfterBox button{
	margin: 0 10px;
	width: 100px;	
}


.answerBox{
	width:100%;
	height:80%;
	background: url("../img/answerBoard.png") no-repeat center/cover;	
	display: flex;
	flex-direction: column;
	justify-content: center
}

.answerBox p {
	text-align: center;
}

.answerBox p:first-child {
	font-size: max(15px, 4vw);
}
.answerBox p:last-child {
	font-weight: bold;
	font-size: max(15px, 7vw);
}

#correctAnswer{
	max-width: 80%;
    margin: 0 auto;
    max-height: 60%;
    overflow: scroll;
    overflow-wrap: break-word; 
}

#scoreUpdate{
	display: none;
}