@charset "UTF-8";

body{
	position: relative;
	background-color: black;
}

main{
	position: relative;
	width: 100vw;
	height: 100vh;
}

.quizDetail{
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: black;
	transition:all 1s;
}

#startPage{
	z-index: 1;
	background: url("../img/quizBack.png") no-repeat center/100%;
}

#startBtn,
#endBtn{
	position: absolute;
	top:80%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 200px;
    height: 80px;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.quizDetail answerBox{
	position: absolute;
	top:80%;
	left:50%;
	transform: translate(-50%,-50%);
}

.quizDetail>div>button {
	margin: 0 10px;
	width: 200px;
    height: 80px;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.hintBox{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

.hintBox img{
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top:50%;
	transform: translate(-50%,-50%);
}


.answerForm{
	position: fixed;
	top:95%;
	left:50%;
	transform: translate(-50%,-100%);
	display: flex;
	transition : all 0;
	z-index: 5;
}

.answerForm input{
	padding: 5px;
	margin-right: 5px;
}

.hiddenBtn{
	display: none;
}

.hiddenInput{
	visibility: hidden;
}


.moveBox{
	position: fixed;
	right: 0;
	top: 50%;
	transform: translate(-5%,-50%)	;
	background-color: white;
	display: flex;
	flex-direction: column;
	z-index: 3;
	border-radius: 10px;
	transition: all 1s;
	width: 50px;
	height: 250px;
}

.hiddenBox{
	transition: all 1s;
	opacity: 0;
	visibility: hidden;
}

.innerBox{
	width: 30px;
	height: 30px;
	background-color: black;
	margin: 10px;
	border-radius: 10px;
	transition: all 3s;
	cursor: pointer;
	color: white;
	text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 30px;
}