@charset "UTF-8";

#main *{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#main {
	width: 80%;
	margin: 0 auto;
	padding-top: 120px;	
}

.bodyUl,
#listHead {
	display: flex;
	align-items: center;
}

.ListF{
	width:100px;
}
.ListN{
	width:200px;
}

.ListE{
	flex: 1;
}

.chart:hover{
	color:#f7bd52;
	cursor: pointer;
}

#listHead{
	background-color: #262626;;
    color: #ffe7bb;
	height: 70px;
	margin-bottom: 20px;
	border-radius: 20px;
}

#rankingSection{
	background-color: #cfcfcf;
	border-radius: 20px;
	padding: 20px 0;
}

#listBody>li{
	line-height : 50px;
}

.sort{
	font-size: 1.5rem;
	font-weight: bold;
}

#listBody>li:first-child {
	font-size: 1.4rem;
	font-weight: bold;
	border-top: 10px double black;
	border-bottom: 10px double black;
    border-radius: 10px;
}
#listBody>li:not(:first-child) {
	border-bottom: 3px solid rgb(224, 224, 224);
}


.boardNumBox{
	width: 160px;
	display: inline-flex;
	align-items: center;
}

.boardNumBox a{
	display: inline-block;
	width: 32px;
}

#main main .boardBtnBox{
	display: inline-flex;
	margin-top: 20px;
}


.boardBtnLeft,
.boardBtnRight{
	display:inline-flex;
	align-items:center;
	width:50px; 
}

.boardBtnLeft{
	justify-content: left;
}

.boardBtnRight{
	justify-content: right;
}

.pageBtn{
	flex:1;
}

.wrap_paging .boardBtnBox a{
	text-decoration: none;
	color:black;
}

.wrap_paging .boardBtnBox a:hover {
    color: #f4623a;
}

.wrap_paging .boardBtnBox .boardNumBox .paging_num_on {
	background-color: #333;
    border-radius: 16px;
    color: #fff;
    line-height: 32px;
}

.wrap_paging .boardBtnBox .boardNumBox .paging_num_on:hover{
    color: #f4623a;
}
.wrap_paging {
	display: block;
	text-align: center;
	padding: 20px 0;
	position: relative;
}


.screen_out {
	position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    color: #fff;
    cursor: pointer;
}
#sortName{
	display: none;
}