@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	font-size: 14px;
	line-height: 1.5;
	font-family: 맑은 고딕;
	font-weight: 400;
	color: black;
	width: 100vw;
	height: 100vh;	
}

/*=================================  */
/* article */
articleA {
	margin-top: 22px 0 0;
	display: block;
}


/* article_section1 (회색 배경) */
.main_content {
    background-color: #3c3c3c;
    margin: 0 62px;
    padding : 1px;
    min-width: max-content;
}

.qna_section1_div {
	padding: 74px 80px 52px;
	margin-top: 100px;
	color: white;
}


.qna_section1_intro {
	font-size: 18px;
    line-height: 1.56;
}

.qna_section1_p {
	font-size: 16px;
    margin: 17px 0 7px;
}

/*==============================  */
/* 번호, 작성자, 제목, 작성일시 */

.desc_intro{
	width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 160px 0px 110px;
    display: flex;
}

.txt_cno {
	width: 10%;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	min-width: max-content;
	padding-right: 30px;
}

.txt_id {
	width: 20%;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	min-width: max-content;
	padding-right: 30px;
}

.txt_title {
	width: 50%;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	min-width: max-content;
	padding-right: 30px;
}

.txt_date {
	width: 20%;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	min-width: max-content;
	padding-right: 30px;
}

/*==================================  */
/* qna 리스트 구성품  */

#qnalistA {
	display: flex;
}

.wrap_info{
	width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 80px 0;
    display: block;
}

.list_invest {
	list-style: none;
	display: block;
	padding-left: 0;
}

.list_invest > li {
	line-height: 56px;
    border-radius: 50px;
    border: 1px solid #d6d6d6;
    margin-bottom: 10px;
    padding: 20px 25px 20px 35px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.list_invest > li > a {
	overflow: hidden;
	text-decoration: none;
}

.list_cno {
	width: 10%;
	display: inline-block;
	font-weight: 400;
	vertical-align: middle;
	color: black;
	min-width: max-content;
	padding-right: 30px;
}

.list_name {
	width: 20%;
	display: inline-block;
	font-weight: 400;
	vertical-align: middle;
	color: black;
	min-width: max-content;
	padding-right: 30px;
}

.list_title {
	width: 50%;
	font-weight: 400;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	color: black;
	min-width: max-content;
	padding-right: 30px;
}

.list-date {
	width: 20%;
	display: inline-block;
	font-weight: 400;
	vertical-align: middle;
	color: black;
	min-width: max-content;
	padding-right: 30px;
}

/* 리스트 검정 버튼 */

.ico_arr {
	width: 56px;
    height: 56px;
    line-height: 50px;
    border-radius: 28px;
    border: 1px solid #000;
    background-color: #000;
    text-align: center;
    float: right;
    box-sizing: border-box;
    transition: all .3s ease;
    cursor: pointer;
    min-width: max-content;
}

.ico_disclosure {
    width: 32px;
    height: 38px;
    vertical-align: middle;
    display: inline-block;
    background: url(../images/arrowright.png) no-repeat 0 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    text-align: center;
}

/*==================================  */

/*  페이징 */
.wrap_paging {
	display: block;
	text-align: center;
	padding-top: 20px;
}

.paging_num_on {
	background-color: #333;
    border-radius: 16px;
    color: #fff;
    display: inline-block;
    width: 32px;
    line-height: 32px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.screen_out {
	position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    color: #fff;
    cursor: pointer;
}

.btn_container {
	width: 100%;
	padding: 30px;
}

.btn_right {
	float: right;
	margin-right: 75px;
}
