@charset "UTF-8";

article{
	flex : 1;
	margin: 80px 0 ;
}

table {
	margin: 0 auto;
	width: 90%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

th, td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
}

th {
	text-align: left;
	background-color: #55608f;
}

thead tr th:first-child{
	width: 10%
}

thead tr th:nth-child(2) {
	width: 20%
}

thead tr th:last-child{
	width: 20%
}

tbody td {
	color: black;
}

#userQuestion{
	vertical-align: top;
	height: 300px;
}

#adminAnswer {
	height: 100px;
	background-color: #c8d2ff;
	position: relative;
}


.btn_detail {
	background-color: #373737;
	color:#fff;
	border-radius:5px;
	border:none;
	width: 60px;
	height: 32px;
	margin: 0 1%;
}

#qnaAnswer{
	display:flex;
	height: 100%;
}
#qnaAnswer textarea {
	resize: none;
	flex:1;
	padding: 10px;
}

#qnaNoH{
	display: none;
}

.qnaWrap{
	width: 90%;
	text-align: right;
	margin: 0 auto;
}

.answerBtn{
	position: absolute;
	right:0;
}

.btn_answer{
	background-color: #373737;
	color:#fff;
	border-radius:5px;
	border:none;
	width: 60px;
	height: 32px;
	margin: auto 10px;
}

.board-table {
   width: 90%;
   margin: 70px auto 20px;
}

.board-table td {
   color: black;
}
