@charset "UTF-8";

.form-submit #submit,
.form-submit #mdeletef,
.form-submit #reset{
	width: 25%;
}
.form-submit #delete{
	background-color: #b33131;
    box-shadow: 0px 1px 15px 0px #b33131;
    -moz-box-shadow: 0px 1px 15px 0px #b33131;
    -webkit-box-shadow: 0px 1px 15px 0px #b33131;
    -o-box-shadow: 0px 1px 15px 0px #b33131;
    -ms-box-shadow: 0px 1px 15px 0px #b33131;
}

.form-submit #delete:hover{
	background-color: #932828;
}