@charset "UTF-8";

::-webkit-scrollbar {
    display: none; 
}

#mainlogin {
	position: fixed;
	left:0;
	top:0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5); 
	z-index: 1;
}

.mlhidden{
	visibility: hidden;
	top:200% !important;
}

#mainlogin2{
	position: fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	
	z-index: 2;
}

