@charset "UTF-8";
 
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-size: 14px;
	line-height: 1.5;
	font-family: 맑은 고딕;
	font-weight: 400;
	color: black;
}

.answer_list {
	margin: 10px auto;
	width: 90%;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	padding: 0;
}

.reply{
	margin: 100px auto 0;
	width: 90%;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-bottom:5px #55608f solid;
	padding: 0;
}

.contentp {
	margin: 0;
	flex: 1;
}

.bcUpdateF {
	display:flex;
    padding: 5px;
    width: 100%;
}

.comments_List {
	display: flex;
}

.commentsId {
	width: 10%;
	background-color: #55608f;
	 color: #fff;
	 text-align: center;
	 padding: 15px;
	 display: flex;
    justify-content: center;
    align-items: center;
}
.commentsId2 {
	width: 10%;
	background-color: #195591;
	 color: #fff;
	 text-align: center;
	 padding: 15px;
	 display: flex;
    justify-content: center;
    align-items: center;
}

.comment_area{
	display:flex;
	position:relative;
	flex: 1;
	padding:10px;	
}

.bcommentP {
	display: flex;
	width: 100%;
	padding: 15px;
	flex-wrap: wrap;
}

.commentsTime {
	width: 160px;
	text-align: center;
}

.btn_detail {
    background-color: #373737;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 32px;
    margin: 0 1%;
}

.btn_div {
	display: flex;
    margin: auto 10px;
}

.answer_table {
	width: 90%;
	margin: 0 auto;
}

.answer_table li {
	display: flex;
	text-align: center;
	background-color: #55608f;
	width: 100%;
    color: #fff;
}

#userContent {
	width: 80%;
}

.modifyForm {
	width: 100%;
}

.update_area {
	width: 100%;
    height: 80px;
    resize: none;
}

#answer_area {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    margin: 0 auto;
}



.list_Form {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-bottom:5px #55608f solid;
}

.commentsTime_btn {
	background-color: #373737;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 45px;
    height: 32px;
    margin: 0 1%;
}

.reReply_area {
	height: 100%;
    width: 100%;
    resize: none;
}

.reReplyForm {
	margin: 0px auto;
    width: 100%;
}

.reReplyF{
	display: flex;
	position: relative;
	border-bottom:5px #55608f solid;
	height: 95px;
}

.reReplyF input {
	margin: 5px;
}

.btn_ist {
	background-color: #373737;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 32px;
    margin: auto 10px;
}

.backBtn_div {
	width: 90%;
	margin: 100px auto;
}

.indent_1{
	padding-left: 60px;
}
.indent_2{
	padding-left: 120px;
}
.indent_3{
	padding-left: 180px;
}
.indent_4{
	padding-left: 240px;
}
