@charset "UTF-8";

#bContent{
	width: 100%;
	height: 100%;
	padding: 10px;
	border: none;
	resize: none;
}

#userContent{
	padding: 1px;
	height: 400px;
}

#insertTitle{
	display: flex;
}
#insertTitle input {
	flex: 1;
}

.bContent{
	margin: 10px;
}

article {
	margin: 50px 0;
}

.btn_insertf{
	background-color: #373737;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 50px;
    margin: 0 30px;
}

.btn_insertf:hover{
	color: yellow;
}

#btitle{
	width:85%;
}