@charset "UTF-8";

table {
	margin: 10px auto;
	width: 90%;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content_table th, td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
}

.content_table th {
	text-align: left;
	background-color: #55608f;
}

.content_table thead tr th:first-child{
	width: 10%
}

.content_table thead tr th:nth-child(2) {
	width: 20%
}

.content_table thead tr th:nth-child(4) {
	width: 15%
}

.content_table thead tr th:last-child{
	width: 15%
}

.content_table tbody td {
	color: black;
}

.content_area {
	height: 400px;
}

.content_table tbody tr th {
	text-align: center;
}

#userQuestion {
	width: 100%;
	height: 400px;
}


/* 댓글 테이블 */

.answer_table {
	height: 120px;
	margin: 50px auto 0;
}

.answer_table th {
	text-align: center;
	background-color: #55608f;
	width: 10%;
    color: #fff;
}

#answer_area {
	width: 100%;
	height: 100px;
	resize: none;
}

.btn_submit {
	width:50px;
	background-color: #373737;
	color: white;
	border-radius: 5px;
	float: right;
	border:none;
}


article{
	flex : 1;
	margin-top: 50px;
}

.btn_detail {
	background-color: #373737;
	color:#fff;
	border-radius:5px;
	border:none;
	width: 60px;
	height: 32px;
	margin: 0 1%;
}

.boardWrap{
	width: 90%;
	text-align: right;
	margin: 0 auto;
}

#btitle{
	width: 100%;
}


.answer_list th {
	width: 10%;
	background-color: #55608f;
	 color: #fff;
	 text-align: center;
	 padding: 15px;
}

.answer_list td:nth-child(2) {
	padding: 15px;
	color: black;
}

.answer_list td:last-child {
	width: 170px;
	text-align: center;
	color: black;
}

.answer_list {
	width: 90%;
	height: 100px;
	padding: 15px;
}

.btn_answerlist {
	background-color: #373737;
    color: white;
    border-radius: 5px;
    width: 50px;
    border: none;
}

.answer_list .comments_List{
	border-bottom:5px #55608f solid;
}

.bcUpdateF button{
	margin:10px;
}
